<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Window Layout - jQuery EasyUI Demo</title>
    <link rel="stylesheet" type="text/css" href="jquery-easyui-1.5.2/themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="jquery-easyui-1.5.2/themes/icon.css">
    <link rel="stylesheet" type="text/css" href="jquery-easyui-1.5.2/demo/demo.css">
    <script type="text/javascript" src="jquery-easyui-1.5.2/jquery.min.js"></script>
    <script type="text/javascript" src="jquery-easyui-1.5.2/jquery.easyui.min.js"></script>
    <script type="text/javascript">
        function ShowDg(xh) {
            var url = "/LoadModule?t=show&m=std/edit&id=" + xh;

            var iframe_id = xh;
            var content = '<iframe id="C_Tab_Iframe_ID_' + iframe_id + '" scrolling="auto" frameborder="0"  src="' + url + '" style="width:100%;height:100%;"></iframe>';


            alert(url);
            $('#dlg').dialog('open');
            $('#dlg').html(content);


        }

        function rowformater(value, row, index) {


            //return "<a href='/LoadModule?t=show&m=std/edit&id="+row.xh+"' target='_blank'>删除</a>";


            return "<a href='javascript:void(0)' onclick='ShowDg(" + row.xh + ")'  target='_self'>删除</a>";
        }
    </script>
</head>

<body class="easyui-layout">
    <div id="tb" style="padding:3px">
        <span>Item ID:</span>
        <input id="itemid" style="line-height:26px;border:1px solid #ccc">
        <span>Product ID:</span>
        <input id="productid" style="line-height:26px;border:1px solid #ccc">
        <a href="#" class="easyui-linkbutton" plain="true" onclick="doSearch()">Search</a>
    </div>
    <table id="tt" class="easyui-datagrid" style="width:600px;height:250px" url="std?t=cx" toolbar="#tb" title="Load Data" iconCls="icon-save" rownumbers="true" pagination="true">
        <thead>
            <tr>
                <th field="xh" width="80">学号</th>
                <th field="xm" width="80">姓名</th>
                <th field="xb" width="80" align="right">性别</th>
                <th field="pwd" width="80" align="right">密码</th>
                <th data-options="field:'id',width:180,formatter:  rowformater">操作</th>
            </tr>
        </thead>
    </table>

    <div id="dlg" class="easyui-dialog" closed="true" title="Basic Dialog" data-options="iconCls:'icon-save'" style="width:400px;height:200px;padding:10px">
        The dialog content.
    </div>


</body>

<script type="text/javascript">
    function doSearch() {
        $('#tt').datagrid('load', {
            itemid: $('#itemid').val(),
            productid: $('#productid').val()
        });
    }


    $('#dlg').dialog('close');
</script>

</html>